body {
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background: linear-gradient(
        rgba(255, 255, 255, 0.5), /* Adjust the last number (0.5) to increase/decrease fade */
        rgba(0, 0, 0, 0.5)
    ),
    url('ipgworkday.png') no-repeat center center; /* Add your image URL here */
    background-size: cover;
}

.countdown-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 15px;
}

#countdown {
    margin: 0 auto;
    padding-bottom: 20px;
}

#countdown td {
    padding: 10px;
    font-size: 2em;
    /* Remove the border property or set it to none */
    border: none;
}

/* Styling for the number cells */
#countdown td.number {
    padding: 10px;
    font-size: 3em; /* Larger font size for numbers */
    border: none;
}

/* Styling for the label cells */
#countdown td.label {
    padding: 5px;
    font-size: 1em; /* Smaller font size for labels */
    border: none;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
